.main-items-account-form {
  gap: 3rem;
}

.main-item-form {
  gap: 3rem;
}

.account-form-personal-details,
.account-form-about-me {
  flex-direction: column;
  gap: 1rem;
  width: 90%;
}

.form-radio-btns {
  justify-content: flex-start;
  gap: 1.5rem;
}

.account-form-favorite-genres {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: .1rem;
}