.modal-sign-up, .main-items-account-form, .main-items-payment-details {
  width: 100%;
  gap: 3rem;
}

.main-item-form {
  gap: 3rem;
}

.account-fieldset {
  flex-direction: column;
  gap: 1rem;
  width: 90%;
}

.form-radio-btns {
  justify-content: flex-start;
  gap: 1.5rem;
}

.account-form-favorite-genres {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: .1rem;
}

.payment-fieldset {
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

/* || Navigation */
#login {
  display: none;
}