.main-container-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-container-items-film-page {
  background: var(--color-dark-blue);
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.shortfilm-page-rating-favorite-save-share {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.shortfilm-page .iconify {
  width: 1.2rem;
  margin: 0.1rem 0.1rem 0 0.1rem;
  padding: 0;
}

.film-page-img {
  width: 100%;
}

.shortfilm-page h5 {
  padding: 0;
  margin: 0;
}

.shortfilm-page p {
  font-size: 0.85rem;
  padding: 0;
  margin: 0;
  opacity: 90%;
}

.shortfilm-page small {
  opacity: 70%;
  color: var(--color-lightest-blue);
}

.shortfilm-play-settings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  background: var(--color-darkest-blue);
}

.shortfilm-info-rent-review {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.5rem;
}

.main-container-item-about-filmmaker {
  border: 6px solid var(--color-dark-blue);
  border-radius: 0.5rem;
  margin: 2.5rem 0.5rem 2.5rem 0.5rem;
  padding: 0.5rem;
}

.about-the-filmmaker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-filmmaker-img {
  width: 100%;
  border-radius: 12rem;
  padding: 0.5rem;
  margin: auto;
}

.about-filmmaker-info {
  padding: 1rem;
  font-size: 0.85rem;
}

/**MEDIA QUERIES min 768px*/
@media screen and (min-width: 768px) {
  .main-container-items {
    padding: 0 3rem 3rem 3rem;
  }

  .main-container-items-film-page {
    padding: 1rem;
    margin: auto;
    width: 80%;
  }

  .shortfilm-page .iconify {
    margin: 0 0.5rem 0 0.5rem;
  }

  .film-page-img {
    padding: 0 0.5rem 0 0.5rem;
  }

  .main-container-item-about-filmmaker {
    margin-top: 3rem;
    width: 80%;
  }

  .about-the-filmmaker {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
/**MEDIA QUERIES min 768px END*/

/**MEDIA QUERIES min 1024px*/
@media screen and (min-width: 1024px) {
}
/**MEDIA QUERIES min 1024px END*/

/**MEDIA QUERIES min 1440px
  @media screen and (min-width: 1440px) {
    .main-container-items {
      margin: 3rem 14rem 3rem 14rem;
      padding: 1rem 0 1rem 0;
    }
  }
  /**MEDIA QUERIES min 1440px END*/
