fieldset {
  display: flex;
  flex-direction: column;
  margin: auto;
  border: none;
  width: 100%;
}

.style-label-email {
  width: 87%;
  color: var(--color-lightest-blue);
  opacity: 80%;
  font-style: italic;
}

.style-placeholder-input-email {
  width: 90%;
  height: 3rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-family: var(--font-family-text);
  font-size: var(--small-text-size);
  background: var(--color-light-blue);
  color: var(--color-darkest-blue);
  opacity: 80%;
}

.style-label-text {
  width: 97%;
  color: var(--color-lightest-blue);
  opacity: 80%;
  font-style: italic;
}

.style-label-radio {
  color: var(--color-lightest-blue);
  opacity: 80%;
}

.style-placeholder-input-text {
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-family: var(--font-family-text);
  font-size: var(--small-text-size);
  background: var(--color-light-blue);
  color: var(--color-darkest-blue);
  opacity: 80%;
}

.style-placeholder-input-textarea {
  width: 100%;
  height: fit-content;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-family: var(--font-family-text);
  font-size: var(--small-text-size);
  background: var(--color-light-blue);
  color: var(--color-darkest-blue);
  opacity: 80%;
  margin: auto;
}

.style-placeholder-checkbox-fav-genres {
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-family: var(--font-family-text);
  font-size: var(--small-text-size);
  background: var(--color-light-blue);
  color: var(--color-darkest-blue);
  opacity: 80%;
}

/**MEDIA QUERIES min 768px*/
@media screen and (min-width: 768px) {
  .style-label-email {
    width: 67%;
  }

  .style-placeholder-input-email {
    width: 70%;
  }
}
/**MEDIA QUERIES min 768px END*/

/**MEDIA QUERIES min 1024px*/
@media screen and (min-width: 1024px) {
  .style-label-email {
    width: 57%;
  }

  .style-placeholder-input-email {
    width: 60%;
  }
}
/**MEDIA QUERIES min 1024px END*/
