/* || HEADER */
.primary-header {
  height: auto;
}

.primary-header-items {
  justify-content: space-between;
  align-items: center;
  padding: .2rem 1rem;
}

.primary-navigation-ul li {
  justify-content: space-between;
  gap: 1rem;
}

.nav-link {
  overflow: hidden;
  white-space: nowrap;
  padding: 0 .5rem;
  transition: 0.8s ease-in-out;
}

.current {
  border-bottom: 0.2rem solid var(--clr-yellow);
  border-radius: 0.2rem;
}

/* || FOOTER*/
.primary-footer {
  width: 100%;
  height: auto;
  padding: 3rem 1rem;
}

.primary-footer-items,
.primary-footer-item-download-secure{
  width: 100%;
  justify-content: space-evenly;
  gap: 2rem;
}

.secondary-navigation {
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
}

small a {
  font-size: clamp(.6rem, 1vw, 1rem);
}

/* @media screen and (max-width: 767px) {
 || Bottom navigation
  .primary-navigation-ul {
    position: fixed;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: var(--clr-dark-yellow);
    box-shadow: 0 0 3px rgba(156, 156, 156, 0.91);
    overflow-x: auto;
  }
}
*/
