/* || HEADER */
.primary-header {
  height: auto;
}

.primary-header-items {
  justify-content: space-between;
  align-items: center;
  padding: .2rem 1rem;
}

.primary-navigation {
  padding: 0;
  margin: 0;
}

.primary-navigation-ul li {
  justify-content: space-between;
  gap: 1rem;
}

.nav-link {
  overflow: hidden;
  white-space: nowrap;
  padding: 0;
  transition: 0.9s ease-in-out;
}

.nav-link-a {
  padding: .5rem;
  border-radius: .2rem;
}

.current {
  border-bottom: 0.2rem solid var(--clr-yellow);
  border-radius: 0.2rem;
}

/* || FOOTER*/
.primary-footer {
  width: 100%;
  height: auto;
  padding: 3rem 1rem;
}

.primary-footer-items {
  justify-content: space-between;
  gap: 1.5rem;
}

.primary-footer-item-download-secure {
  width: 100%;
  gap: .5rem;
}

.secondary-navigation {
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
}

small a {
  font-size: clamp(.6rem, 1vw, .8rem);
}

@media screen and (max-width: 580px) {
 .logo img {
   width: 64px;
   padding: 0;
 }

  .primary-header-items {
    gap: .5rem;
    padding: .2rem .5rem;
  }

  .primary-navigation-ul li {
    gap: .5rem;
  }
}

