/* || HEADER */
.primary-header {
  height: auto;
}

.prim-header-items__container {
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
}

.primary-nav-ul {
  justify-content: space-between;
  gap: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
}

.current {
  border-bottom: 0.2rem solid var(--clr-yellow);
  border-radius: 0.2rem;
}

/* || FOOTER */
.primary-footer {
  width: 100%;
  height: auto;
  padding: 3rem 1rem;
}

.prim-footer-items__container {
  justify-content: space-between;
  gap: 1rem;
}

.secondary-nav {
  gap: 1rem;
}

.prim-footer-icons__container {
  gap: .5rem;
}

/* || Media Queries */
@media screen and (max-width: 580px) {
  .prim-header-items__container {
    padding: .5rem;
  }

  .logo-svg {
    max-width: 100%;
  }

  .primary-nav-ul {
    gap: .5rem
  }

  /* || FOOTER */
  .primary-footer {
    padding: 1.5rem .5rem;
  }

  .prim-footer-items__container {
    gap: .5rem;
  }
}