.iconify {
  color: var(--color-lightest-purple);
  width: 1.5rem;
  height: 1.5rem;
}

.style-label-text .iconify {
  width: 1rem;
  height: 1rem;
  margin: 0.4rem;
}

.style-legend .iconify {
  width: 1rem;
  height: 1rem;
  margin: 0.4rem;
}
