.landing-items__container {
  width: 100%;
  gap: 2rem;
  text-align: center;
}

.site-title {
  font-family: "Archivo Narrow", sans-serif;
}

.main-item-video {
  max-width: 70%;
  height: auto;
}

/* || Navigation */
#archive, #create, #home {
  display: none;
}

@media screen and (max-width: 767px) {
  .landing-items__container {
    gap: 1rem;
    padding: 2rem .5rem;
  }

  .main-item-video {
    max-width: 90%;
    height: auto;
  }

}