/* || Landing page*/
.main-items-introduction {
  justify-content: center;
  gap: 2rem;
  padding: 4rem .5rem;
}

.site-title {
  font-family: "Archivo Narrow", sans-serif;
}

.subtitle {
  font-family: "Archivo Narrow", sans-serif;
  font-size: clamp(.9rem, 2vw, 1.3rem);
  font-weight: 100;
}

.main-item-video {
  width: 80%;
}

.main-item-text-btn-sign-up {
  gap: 1rem;
  width: 100%;
  text-align: center;
}