/* || Landing page*/
.main-items-introduction {
  justify-content: center;
  gap: 2rem;
  padding: 4rem .5rem;
  text-align: center;
}

.site-title {
  font-family: "Archivo Narrow", sans-serif;
}

.subtitle {
  font-family: "Archivo Narrow", sans-serif;
  font-size: clamp(.9rem, 2vw, 1.3rem);
  font-weight: 100;
}

.main-item-video {
  max-width: 70%;
  height: auto;
}

/* || Navigation */
#archive, #create, #home {
  display: none;
}