.account-items__container,
.checkout-items__container,
.contact-items__container,
.shortfilm-items__container,
.home-items__container {
  padding: 2.5rem 0;
  gap: 2.5rem;
}

.profile__card {
  flex-direction: row-reverse;
  justify-content: center;
  position: relative;
}

.profile-photo__container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 20px;
}

.card-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.card-social__container {
  gap:  1rem;
  padding: .5rem;
}

.followers {
  justify-content: center;
  flex-direction: row-reverse;
}

.shortfilms__container {
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.shortfilms-carousel__container {
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
}

.shortfilm__card {
  position: relative;
  width: 300px;
  height: 300px;
  padding: .5rem;
}

.shortfilm-img {
  position: relative;
  width: 250px;
  height: 250px;
}

.shortfilm-img img {
  width: 100%;
  height: 100%;
}

.shortfilm-rating {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.shortfilm__card h4 {
  position: absolute;
  z-index: 3;
  bottom: 18%;
  left: 2%;
  padding: 0;
  background-color: rgba(43, 43, 43, 0.93);
}

.shortfilm__card p {
  position: absolute;
  z-index: 2;
  bottom: 23%;
  left: 2%;
  margin: 0;
  background-color: rgba(43, 43, 43, 0.93);
}

.shortfilm__card small {
  position: absolute;
  z-index: 2;
  bottom: 13%;
  left: 2%;
  background-color: rgba(43, 43, 43, 0.93);
}

.shortfilm-icons {
  justify-content: space-between;
}

.reviews-carousel__container {
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  width: max-content;
}

.review__container {
  flex-direction: column-reverse;
  justify-content: center;
  width: 280px;
  padding: .5rem;
}

.review__container .shortfilm__card {
  width: 250px;
  height: 250px;
}

.review__container .shortfilm__card .shortfilm-img {
  width: 210px;
  height: 210px;
}

.shortfilm-play__card {
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.shortfilm-video__container {
  position: relative;
  width: 500px;
  height: 300px;
}

.shortfilm-video-img {
  width: 500px;
  height: 300px;
}

.play-settings__container {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  background-color: rgba(43, 43, 43, 0.93);
}

@media screen and (max-width: 767px) {
  .profile-photo__container {
    max-width: 40%;
    max-height: 40%;
  }
}