.main-container-items {
  background: var(--color-dark-blue);
  margin: 1rem;
  border-radius: 0.5rem;
}

.date-cvc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/**MEDIA QUERIES min 768px*/
@media screen and (min-width: 768px) {
  .main-container {
    margin: 3rem 7rem 3rem 7rem;
    padding: 1rem 0 1rem 0;
  }
}
