.main-container-title {
  width: 90%;
  margin: auto;
  padding-top: 0.3rem;
}

.main-container-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-container-item-signup-text {
  width: 90%;
  margin-bottom: 3rem;
}

/* || Navigation */
#archive, #create, #home {
  display: none;
}