body {
  background-color: #040e20;
  margin: 0;
  color: #f6f9fe;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.header {
  background-color: #4d139b;
  height: 32px;
  padding: 0.5em 1em 0.5em 1em;
}

.container {
  max-width: 987px;
  margin: 0 auto;
}

.flex-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconify {
  color: #f6f9fe;
  width: 24px;
  height: 24px;
}

.hero-banner {
  padding: 0.5em 1em 0.5em 1em;
}

.footer {
  background-color: #4d139b;
  height: 172px;
}
