body {
  background-color: #040e20;
  margin: 0 auto;
  color: hsl(218, 80%, 98%);
  font-family: "DM Sans" sans-serif;
}

.icons {
  color: #f6f9fe;
  width: 24px;
  height: 24px;
}

.header {
  background-color: #4d139b;
  height: 48px;
}

.container {
  max-width: 987px;
  margin: 0 auto;
}

.header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.39em 1em 0 1em;
}

.main {
  background-color: #040e20;
  margin: 2em 1em 2em 1em;
}

.title {
  display: flex;
  justify-content: center;
  max-height: 160px;
}

#grid {
  display: grid;
  grid-auto-columns: auto;
  justify-content: center;
  align-items: center;
}

.infovideo {
  width: 100%;
}

.aside {
  width: 88%;
  margin: 0 auto;
}

.text {
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: medium;
  padding: 0.5em;
}

.cta {
  display: flex;
  justify-content: center;
  text-align: center;
}

.raise {
  border-radius: 2em;
  border: none;
  background-color: #caa316;
  color: #fefdfa;
  font-size: 16px;
  padding: 14px 80px;
  margin: 1em;
  cursor: pointer;
  display: inline-block;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.footer {
  width: 100%;
  background-color: #4d139b;
  height: 172px;
}

.nav-footer a {
  color: #f6f9fe;
}

.nav-footer a:hover {
  color: blue;
}

.footer-items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 172px;
}

.img-item {
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.footer-img {
  margin-bottom: 0.5em;
}

.copyright {
  text-align: center;
  font-family: "Open Sans";
  font-size: 10px;
  font-weight: 200;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .title {
    display: flex;
    flex-direction: row;
    max-width: 732px;
    margin: 0 auto;
  }

  #grid {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 50% 50%;
    margin-bottom: 2em;
    margin-top: 2em;
  }

  .text {
    font-family: "DM Sans";
    font-size: 18px;
    font-weight: medium;
    padding: 0.5em;
  }

  .footer-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em;
  }

  .nav-footer {
    display: flex;
    flex-direction: column;
    margin: 1em;
  }

  .copyright-item {
    margin-left: 0;
    margin-right: 0;
  }
}
