@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Barlow:ital,wght@0,400;0,600;1,400;1,600&family=Merriweather:ital,wght@0,300;0,400;1,300;1,400&family=Montserrat:ital,wght@0,500;0,600;1,500;1,600&display=swap');

/* || Global styles */
:root {
    --clr-dark-yellow: #121100;
    --clr-yellow: #fff1b1;
    --clr-dark-blue: #020446;
    --clr-cyan: #04cec8;
    --clr-mint: #97ffc3;
    --clr-light-mint: #c6fad8;
    --clr-green-success: #8dd953;
    --clr-lin-grad-teal-cyan: linear-gradient(to bottom, #00ff6c, #39ff80, #54ff92, #6affa2, #7effb1, #7effb1, #7effb1, #7effb1, #6affa2, #54ff92, #39ff80, #00ff6c);
    --clr-lin-grad-green: linear-gradient(to bottom, #1e6b1b, #36842a, #4d9d3a, #65b74a, #7dd25a, #7dd25a, #7dd25a, #7dd25a, #65b74a, #4d9d3a, #36842a, #1e6b1b);
    --ff-headings: 'Barlow', sans-serif;
    --ff-body-txt: 'Merriweather', serif;
    --ff-label-nav-btn-txt: 'Montserrat', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-dark-yellow);
    color: var(--clr-mint);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

h1, h2, legend, h3, label, h4 {
    font-family: var(--ff-headings);
}

h1 {
    font-size: min(max(2rem, 8vw), 3.2rem);
    text-transform: uppercase;
    margin: 0;
    background: -webkit-linear-gradient(#00ff6c, #39ff80, #54ff92, #6affa2, #7effb1, #7effb1, #7effb1, #6affa2, #54ff92, #39ff80, #00ff6c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2, legend {
    font-size: min(max(1rem, 5vw), 2rem);
    text-transform: uppercase;
}

h3, label {
    font-size: min(max(.9rem, 4vw), 1.7rem);
    color: var(--clr-cyan);
}

h4 {
    font-size: clamp(1.44rem, 5vw, 1.777rem);
}

p {
   font-family: var(--ff-body-txt);
   font-size: min(max(.8rem, 2vw), 1.3rem);
   line-height: 1.7rem;
   letter-spacing: .11rem;
   max-width: 75ch;
}

small {
    font-family: var(--ff-label-nav-btn-txt);
    text-align: center;
    font-size: min(max(.5rem, 1vw), .8rem);
    line-height: 1.2rem;
    letter-spacing: .1rem;
    color: var(--clr-light-mint);
}

/* || a - li- buttons - form */
a:link, li {
    font-family: var(--ff-label-nav-btn-txt);
    font-size: min(max(1rem, 3vw), 1.3rem);
    text-decoration: none;
    border-radius: .2rem;
    transition: .2s ease-out;
}

li {
    list-style: none;
}

.iconify {
    color: var(--clr-yellow);
    width: 2rem;
    height: 2rem;
    margin: .1rem;
    padding: .1rem;
    border-radius: .2rem;
}

a:where(:hover, :focus-visible),
.iconify:where(:hover, :focus-visible) {
    transform: scale(1.1);
}

.iconify:active,
a:active {
    background: var(--clr-yellow);
    opacity: 75%;
    color: var(--clr-dark-blue)
}

.link-icon {
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.btn-primary {
    width: 80%;
    font-family: var(--ff-label-nav-btn-txt);
    font-size: min(max(1rem, 3vw), 1.3rem);
    text-align: center;
    border: .1rem solid var(--clr-cyan);
    border-radius: .5rem;
    background: var(--clr-dark-yellow);
    color: var(--clr-mint);
    padding: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

.btn-primary a:visited {
    color: var(--clr-mint);
}

.btn-primary:hover {
    transform: scale(1.1);
}

/* || Utility's */
.breadcrumb ul li {
    display: inline;
    font-size: .9rem;
    color: var(--clr-yellow);
}

.breadcrumb ul li a {
    font-size: .8rem;
}

.breadcrumb ul li+li:before {
    padding: 0;
    content:  "/\00a0";
}

.access_aid {
    display: none;
}

.flex {
    display: flex;
}

.flex-column-align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row-align-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.function-hover-raise:hover,
.function-hover-raise:focus {
    box-shadow: 0 0.8rem 0.8rem -0.2rem rgba(251, 255, 143, 0.91);
    transform: translateY(0);
}

.function-hover-line {
    display: inline-block;
    position: relative;
    color: var(--clr-yellow);
}

.function-hover-line:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: .15rem;
    bottom: 0;
    left: 0;
    background-color: var(--clr-yellow);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.function-hover-line:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}